h1,
h2 {
    color: slategray;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1140px;
    margin: 20px auto 0px auto;
}

.blog-post {
    width: 75%;
    float: left;
}

.author-box {}

.other-posts {
    width: 25%;
    float: left;
}

.author-box {
    font-size: 22px;
    padding-top: 20px;
    border-top: 1px solid rgb(29, 29, 29);
}

p {
    color: rgb(0, 0, 0)
}